
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');

*{
    margin: 10px;
    width: auto;
}
body{
    background-color: aliceblue;
}

h1{
    text-align: center;
}

p{
    text-align: justify;
}

img{
    height: 400px;
    width: 400px;
}

nav{
    background-color: rgb(132, 13, 13); /*cor de fundo*/
    padding: 10px 0; /* espaçamento interno */
    
}

nav ul {
    list-style-type: none; /*remove as bolinhas padrão da lista*/
    margin: 0;
    padding: 0;
    display: flex; /*fazem com que os itens fiquem lado a lado*/
    justify-content: center; /*centraliza os itens horizontalmente*/
}

nav ul li {
    margin: 0 15px; /*espaçamento entre itens*/
}

nav ul li a {
    color: aliceblue;/*cor do texto*/
    text-decoration: none; /*reomove o sublinhado dos links*/
    font-size: 20px;/*tamanho da fonte*/
    transition: color 0.3s;/*transição suave para a mudança de cor*/
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;  
}

nav ul li a:hover {
    color: darkorchid; /*cor do texto ao passar o mouse*/

}

nav ul li img {
    width: 44px;
    height: 44px;
    border-radius: 2px;
    justify-content: left;


}